:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --dark-mode-color: #050023;
  --light-mode-color: #f3f3f3;

  --color: light-dark(var(--dark-mode-color), var(--light-mode-color));
  color: var(--color);
  --bg-color: light-dark(var(--light-mode-color), var(--dark-mode-color));
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
